{% extends 'base.html' %}
{% block title %}Список городов{% endblock %}
{% block content %}
<h1>Список городов</h1>
<div class="row">
    <div class="col-md-8 my-2">
        <table class="table table-striped">
            {% for object in objects_list %}
            <tr>
                <td><a href="{% url 'cities:detail' pk=object.pk %}">{{object.name}}</a></td>
                <td>
                    <a href="{% url 'cities:update' pk=object.pk %}">
                        <button class="btn btn-primary">Редактировать</button></a>
                </td>
                <td><a href="{% url 'cities:delete' pk=object.pk %}"><button class="btn btn-danger">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg> Delete
                </button>
                    </a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form action="#" method="post"> {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Добавить">
        </form>
    </div>
</div>


{% endblock %}